swagger: "2.0"
info:
  description: This document outlines the public API methods available using the TurtlePay platform for creating and completing payment requests on the TurtleCoin network.
  version: "0.0.1"
  title: TurtlePay Public API Interface
  contact:
    email: turtlepay@protonmail.com
  license:
    name: GNU Affero General Public License version 3
    url: 'https://opensource.org/licenses/AGPL-3.0'
host: 'api.turtlepay.io'
basePath: /v1
schemes: 
  - https
tags:
  - name: Payment Requests
paths:
  /new:
    post:
      tags:
        - Payment Requests
      summary: "Creates a new payment request"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Request
          description: Creates a new payment request
          schema:
            type: object
            required:
              - address
              - amount
            properties:
              address:
                type: string
                example: TRTLuxN6FVALYxeAEKhtWDYNS9Vd9dHVp3QHwjKbo76ggQKgUfVjQp8iPypECCy3MwZVyu89k1fWE2Ji6EKedbrqECHHWouZN6g
              amount:
                type: number
                example: 100
              callback:
                type: string
                example: https://webhook.site/8d2e1b19-d293-445a-b38e-9a2cd6d526a7
              confirmations:
                type: number
                example: 30
                default: 60
              userDefined:
                type: object
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              sendToAddress:
                type: string
                description: The address to provide the user to send funds to
                example: TRTLv2uxbWyZ4DM5BLo5fURdzapJ3U6nHMMDst5RjkrR4Yy2ZL3r5EC7nXGmq5x2fAQbdGKLFaMNRRasGRrS2WhRWHDkNQ7qaDP
              atomicAmount:
                type: number
                description: The atomic amount that the user needs to send to complete the request
                example: 100
              startHeight:
                type: number
                description: The blockchain height that we will start looking for transactions to complete the request
                example: 1132510
              endHeight:
                type: number
                description: The blockchain height that we will stop looking for transactions to complete the request
                example: 1132570
              confirmations:
                type: number
                description: The number of confirmations that we will wait to pass once we find transactions destined for this request
                example: 30
              qrCode:
                type: string
                description: A link to a QR code image that contains the required payment information to complete this request
                example: "https://chart.googleapis.com/chart?cht=qr&chs=256x256&chl=turtlecoin://TRTLv2uxbWyZ4DM5BLo5fURdzapJ3U6nHMMDst5RjkrR4Yy2ZL3r5EC7nXGmq5x2fAQbdGKLFaMNRRasGRrS2WhRWHDkNQ7qaDP?amount=100"
              userDefined:
                type: object
                description: A copy of the data you supplied in the optional userDefined field
              callbackPublicKey:
                type: string
                description: The Public Key of the Private Key the platform uses to sign callback messages
                example: "2d2d2d2d2d424547494e205055424c4943204b45592d2d2d2d2d0a4d494942496a414e42676b71686b6947397730424151454641414f43415138414d49494243674b434151454171393146373874724f377957326b5170343455760a3530734c7834376d32326473695a31474c38685a47592b707a78673744733449434973372f6b6b457448345548474e425357514e707235487a564d57316d4b720a756244334a694e513954724e4c644857494a7459456a70497a71514a5144484e69527a6c32352b434f3131645245705a736c78567944477534456430683072540a6947477669457656432b4a75796979476a42536c6c4f4f6a72303850656f7538434b6f54443546636e46667049457738735969775133793034506a665a4b665a0a4a486f4148474d467347427862627865726b543543735566444f50346851302f61414357626a42533874427943496770767842357874386c6e656a67717731620a535362673777593237383548753848764b38644d504d554566686f4e616c5347436b416a31692b5362344d696a4533454c44714f30583455324174574a4b42720a77774944415141420a2d2d2d2d2d454e44205055424c4943204b45592d2d2d2d2d"
        400:
          description: Bad Request
        500:
          description: Internal Server Failure
externalDocs:
  description: TurtlePay GitHub Organization
  url: "https://github.com/TurtlePay"
